---
layout: default
---

{% include top-profile.html %}

<div id="main" role="main">

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

    <div class="page__inner-wrap">

      {% if page.title %}
        <header>
          <h1 class="page__title" itemprop="headline">
            {{ page.title }}
          </h1>
        </header>
      {% endif %}

      <section class="page__content" itemprop="text">
        {{ content }}
      </section>

    </div>

  </article>

</div>
